* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#form-div {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15px;
}

#form-title {
  margin: auto;
}

#bookForm {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.book-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

.book-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}

#line {
  margin: auto;
  width: 100px;
  margin-top: 20px;
}

.books-container {
  max-width: 500px;
  margin: 30px auto;
  border: 1px solid;
}

.header-title {
  text-align: center;
  padding-top: 1rem;
}

button#remove-book {
  padding: 8px;
  border-radius: 5px;
  border: 0.2px solid gray;
}

form#bookForm {
  margin-top: 20px;
}

input {
  padding: 5px;
  margin: 0.5rem 0;
}

button.sbtn {
  align-self: flex-end;
  padding: 0.5rem 1rem;
}

.book-card:nth-child(even) {
  background: lightgray;
}
